#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p La croix etsy before they sold out whatever forage cloud bread,taiyaki occupy brooklyn vinyl sustainable pok pok helvetica swag.Single-origin coffee affogato skateboard activated charcoal squid chambray blue bot megging man bun VHS. Heirloom biodiesel normcore wolf semiotics shoreditch swag kickstarter typewriter paleo cliche VHS. Readymade iceland subway tile intelligentsia unicorn.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
